*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex
*.toc
*.lof
*.lot
*.bbl
*.blg

main.pdf

.DS_Store
Thumbs.db

.vscode/

__pycache__/
*.pyc

node_modules/

.dist/

!abstract.pdf
!pageDeGarde.pdf